:root{
    --verde: green;
    --preta: #141414;
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: var(--verde);
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--verde);
    font-family: 'Arial Black', times;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
/*poster principal*/
.filme_gambit{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/gambit_poster.jpg');
    height: 700px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-gambit .descricao{
    margin-top: 40px;
    margin-bottom: 60px;
}
.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 8px;
}
.container{
    margin-left: 20px;
}
.filme-gambit .container{
    width: 70%;
}
.box-capa{
    height: 100%;
    width: 100%;
    display: block;
}
.carousel-pecas{
    margin-top: 10px;
}
.flip-container {
    width: 250px;
    height: 350px;
    perspective: 1000px;
  }
.flip-container:hover .flipper{
    transform: rotateY(180deg);
}
.flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.frente{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.verso{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
/*rodape*/
.rodape{
    display: flex;
    padding: 28px;
    font-size: 15px;
    margin-right: 5px;
    flex-direction: column;
    align-items: center;
}
.icones{
    width: 40px;
    height: 40px;
    list-style: none;
}
/*Responsividade*/
@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }
}
@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}